<div class="footer">
  <p>footer</p>
  <% if (data.NODE_ENV === 'development') { %>
  <div class="debug">
    <p>template data:</p>
    <div class="pre"><%= JSON.stringify(data, null, 2); %></div>
  </div>
  <% } %>
</div>
