<div class="header d-flex flex-column flex-md-row align-items-center px-10 mb-10 navbar-dark bg-dark border-bottom shadow-sm w-100">
    <h5 class="my-0 mr-md-auto font-weight-normal d-flex align-items-center">
        <img class="mr-10 my-10" src="/build/img/logo.svg" alt="" width="40" height="40" />
      <span class="text-light">WallStreetDocs</span>
    </h5>
    
    <div class="right-side">
      <% if (q('locals.login')) { %>
        <a class="btn btn-outline-light d-inline-block <%= q('url') === '/dashboard' ? 'active' : '' %>" href="/dashboard">Dashboard</a>
        <a class="btn btn-outline-light d-inline-block <%= q('url') === '/profile' ? 'active' : '' %>" href="/profile">Profile</a>
        <a class="btn btn-outline-light d-inline-block" href="/auth/wsd/logout">Logout</a>
      <% } else { %>
        <a class="btn btn-outline-light d-inline-block mr-10 mb-10" href="/auth/wsd/login">Login</a>
      <% } %>
    </div>
  </div>
