<div class="error-box">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-lg-12">
        <div class="error-content">
          <h2><%= q('errorStatus') %></h2>
          <h3 class="mb-20">
            <%= q('errorMessage') %>
          </h3>
          <% if (q('stackTrace')) { %>
            <p class="mb-20">
              <pre style="overflow-x: auto"><%= q('stackTrace') %></pre>
            </p>
          <% } %>
        </div>
      </div>
    </div>
  </div>
</div>