<div class="page text-center">
  <% if (q('error', []).length) { %>
    <div class="alert alert-danger text-left mb-20" role="alert">
      <% q('error', []).forEach((x) => { %>
        <p><%= x %></p>
      <% }); %>
    </div>
  <% } %>
<h2>dashboard</h2>
</div>