<div class="page">
  <h2 class="mb-10 text-center">
    Profile
  </h2>
  <div class="container-fluid"></div>
  <div class="row">
    <div class="col-lg-6">
      <div class="card mb-20">
        <h5 class="card-header">Personal Data</h5>
        <div class="card-body">
          <ul class="list-group">
            <li class="list-group-item data-box">
              <span>family name:</span>
              <span><%= q('profile.name.family_name') %></span>
            </li>
            <li class="list-group-item data-box">
              <span>given name:</span>
              <span><%= q('profile.name.given_name') %></span>
            </li>
            <li class="list-group-item data-box">
              <span>middle name:</span>
              <span><%= q('profile.name.middle_name', '-') %></span>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="card mb-20">
        <h5 class="card-header">Emails</h5>
        <div class="card-body">
          <ul class="list-group">
            <% q('profile.emails', []).forEach(email => { %>
              <li class="list-group-item">
                <%= _.get(email, 'value') %>
                [ type: <%= _.get(email, 'type', '') %> ]
              </li>
            <% }); %>
          </ul>
        </div>
      </div>
    </div>
  </div>
  
    <div class="row">
      <div class="col-lg-6">
        <div class="card">
          <h5 class="card-header">Organisations</h5>
          <div class="card-body">
            <ul class="list-group">
              <% q('profile.organisations', []).forEach(org => { %>
                <li class="list-group-item">
                    <p class="mb-10"><%= _.get(org, 'name') %></p>
                    <ul class="list-group">
                      <% _.get(org, 'activities', []).forEach(act => { %>
                        <li class="list-group-item">
                          <%= _.get(act, 'name') %>
                        </li>
                      <% }); %>
                    </ul>
                </li>
              <% }); %>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="card mb-20">
          <h5 class="card-header">Organization</h5>
          <div class="card-body">
            <ul class="list-group">
              <li class="list-group-item data-box">
                <%= q('profile.organisation.name') %>
              </li>
            </ul>
          </div>
        </div>
        <div class="card">
          <h5 class="card-header">Applications</h5>
          <div class="card-body">
            <ul class="list-group">
              <% q('profile.applications', []).forEach(appl => { %>
                <li class="list-group-item">
                  <%= _.get(appl, 'name') %>
                </li>
              <% }); %>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>