@import '_reset';
@import '_boostrap';

.page-content,
.footer,
.debug{
  padding: 10px;
  border: 1px solid black;
  margin: 0 10px 10px 10px;
}

.footer {
  p {
    margin-bottom: 10px;
  }
}

.header {
  a.btn {
    margin: 0 0 10px 0;
    @include media-breakpoint-up(md) {
      margin: 0;
    }
  }
}

.data-box {
  display: flex;
  span:first-child{
    flex: 0 0 110px;
  }
}

.debug{
  background: #ebf7e2;
  margin: 0;
  width: 100%;
  .pre {
    font-family: monospace, 'Courier New', Courier;
    line-height: 1.2;
    white-space: pre-wrap;
    word-break: break-all;
  }
}